#product{
    text-align: center;
}
.Text{
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 14px;
  }
  /* Styles for the navigation menu */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  nav li {
    margin: 0 20px;
  }
   }

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 20% 10%;
    padding-right: 20px;
    margin-left: -2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    justify-content: space-between;
  }
  nav ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}
#mag{
    height: 40px;
    border-radius: 10px;
    margin-bottom: -2%;
}
.meddy{
    justify-content: space-between;
    padding: 20px;
    margin-top: -10%;
    background-color: orange;
  }
  #logoo{
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  #caty{
    padding: 10px 80px;
    border-radius: 5px;
    margin-left: 5%;
    padding-left: 10px;
    font-size: 20px;
  }
  #search{
    margin-left: 8%;
    border: solid;
    padding: 10px 280px;
    border-radius: 10px;
    padding-left:15px;
    background-color: white;
  }
  #heartt{
    margin-left: 24%;
    font-size: 28px;
  }
  #cart{
    margin-left: 1% ;
    font-size: 28px;
  }
  #user{
    margin-left: 1%;
    font-size: 28px;
  }
  .milly{
    border: solid;
    width: 15%;
    padding-left:20px ;
    padding-bottom:18px ;
   border-radius: 12px;
    border-color: grey;
    margin-left: 900px;
}
#save{
  padding: 5px 40px;
  border-radius: 5px;
  border-color: green;
  color: green;
  background-color: white;
}
#der{
  padding: 5px 50px;
  background-color: yellow;
  color: white;
  border-radius: 5px;
  border-color: yellow;
}
 }
@media (max-width:700) {
  
}
#hen{
  margin-left: 40%;
}
#tila{
  margin-left: 40%;
}
#mode{
  margin-left: 40%;
}
#pst{
  margin-left: 40%;
}
#J1{
  margin-top: -800px;
}
.pipo{
  margin-left: 25%;
  margin-top: -16%;
}
#pipo{
  font-weight: bolder;
}
#ris{
  background-color: grey;
}
#mm{
  background-color: yellow;
}
.risa{
  margin-left: 25%;
  margin-top: -16%;
}
#levy{
  font-weight: bolder;
}
#mary{
  font-weight: bolder;
}
.ris{
  margin-left: 25%;
  margin-top: -16%;
}
#pasy{
  text-align: center;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
}
#lucky{
  margin-left: 25%;
  background-color: grey;
  border-radius: 10px;
  padding: 5px 5px;
}
#nelly{
  margin-left: 12%;
  background-color: grey;
  border-radius: 10px;
  padding: 5px 5px;
}
#liz{
  margin-left: 18%;
  background-color: grey;
  border-radius: 10px;
  padding: 5px 5px;
}
#mercy{
  margin-left: 14%;
  background-color:grey;
  border-radius: 10px;
  padding: 5px 5px;
}
#b1{
  margin-left: 7%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}
#b2{
  margin-left: 7%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}
#j4{
  margin-left: 8%;
}
#j5{
  margin-left: 8%;
}
#j6{
  margin-left: 5%;
}
#j7{
  margin-left: 5%;
}
#per{
  margin-left: 11%;
}
#bahy{
  margin-left: 35%;
  margin-top: -4%;
}
#shipy{
  margin-left: 59%;
  margin-top: -3%;
}
#shee{
  margin-left: 82%;
  margin-top: -4%;
}
#vee{
  margin-left: 19%;
}
#flip{
  color: yellow;
}
#maria{
  margin-left: 35%;
  margin-top: -2%;
}
#kili{
  margin-left: 46%;
 margin-top:-3% ;
}
#fip{
  margin-left: 62%;
  margin-top: -2%;
}
#MO{
  margin-left: 74%;
  margin-top: -2%;
}
#cipy{
  margin-left: 85%;
  margin-top: -2%;
}
#d1{
  margin-left: 15%;
}
#d3{
  margin-left: 38%;
  margin-top: -2.1%;
}
#d5{
  margin-left:65% ;
  margin-top: -2.4%;
}
#d7{
  margin-left: 85%;
  margin-top: -2.7%;
}
footer{
  margin-top: 8%;
  display: flex;
  background-color: navy;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  justify-content: space-between;
}
.house{
  display: flex;
  color: black;
  font-weight: bolder;
  background-color: navy;
}
#hut{
  font-weight: bolder;
  font-size: 23px;
}
#cy{
  margin-left: 12%;
}
#cooky{
  margin-left: 10%;
}
#vor{
  margin-left: 10%;
}







